@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "tailwind-scrollbar" {
	nocompatible: true;
	preferredStrategy: 'pseudoelements';
}

@font-face {
	font-family: 'Inconsolata';
	src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Merriweather';
	src: url('fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@theme {
	/* --color-bg: #073642; */
	--color-fg: #002b36;
	/* --color-fg: #586e75; */
	--color-bg: #eee8d5;
	--color-base1: #93a1a1;
	--color-orange: #cb4b16;
	--color-cyan: #2aa198;
	--font-mono: 'Inconsolata', 'monospaced';
	--font-serif: 'Merriweather', 'serif';
	--font-sans: 'Open Sans', 'sans-serif';
}
