---
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="flex flex-col border-b-4 border-fg mb-8 space-y-4 pb-8">
    <h1 class="text-6xl font-serif font-bold">{post.data.title}</h1>
    <p class="text-xl">{post.data.subtitle}</p>
    <div>
      {
        post.data.tags.map((t) => (
          <div class="font-mono text-lg bg-cyan w-fit px-2 rounded-md text-bg hover:bg-orange">
            #{t}
          </div>
        ))
      }
    </div>
  </div>
  <article
    class="prose-xl prose-headings:font-serif prose-headings:text-fg prose-headings:font-bold text-fg text-sans prose-blockquote:border-l-4 prose-blockquote:border-fg prose-a:underline prose-a:hover:text-cyan"
  >
    <Content />
  </article>
</Layout>
