<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/style.css">
	<title>(checkers not chess)</title>
</head>

<body class="font-sans bg-bg text-fg flex flex-col lg:flex-row h-screen w-screen overflow-y-scroll">
	<div class="lg:border-r-4 border-fg lg:w-1/6">
		<div class="border-b-4 border-fg flex flex-col p-6 lg:p-8 space-y-8 h-min">
			<a href="/" class="flex flex-col font-bold space-y-2">
				<div class="text-4xl lg:text-6xl font-serif">
					<span class="text-navy">⦿</span>¬<span class="text-gold">♜</span>
				</div>
				<div class="text-sm lg:text-md font-mono italic">
					(<span class="text-navy">checkers</span> not <span
						class="text-gold">chess</span>)
				</div>
			</a>
			<div class="hidden lg:flex flex-col space-y-2 border-l-4 border-fg p-2">
				<span>"Solving problems you probably don't have creates more problems you definitely
					do."</span>
				<span class="font-bold font-serif text-lg">- Mike Acton</span>
			</div>
		</div>
		<nav>
			<ol class="flex flex-col overflow-y-scroll">
				{{range .Posts }}
				<a href="/{{.Url}}">
					<li class="w-full border-b-4 border-fg p-4 hover:bg-fg hover:text-bg
							{{ if eq .Url $.Slug }}
								bg-fg text-bg
							{{ end }}
							group transition-transform duration-500">
						<p class="font-serif font-bold text-xl">{{.Title}}</p>
						<p class="{{ if eq .Url $.Slug }}
								flex
							  {{ else }}
								hidden group-hover:flex
							  {{ end }}
							font-mono italic text-sm">{{.Desc}}</p>
					</li>
				</a>
				{{end}}
			</ol>
		</nav>
	</div>
	<main class="flex flex-col space-y-12 p-8 lg:p-10 lg:overflow-y-scroll lg:w-3/6">
		<div class="flex flex-col space-y-4">
			<h1 class="text-6xl font-bold font-serif">{{ .Title }}</h1>
			{{ if ne .Desc "" }}
			<p class="font-mono font-bold text-lg italic">{{ .Desc }}</p>
			{{ end }}
		</div>
		<article
			class="[&_h2]:text-2xl [&_h2]:font-bold [&_h2]:font-serif [&_h2]:pb-2 [&_p]:pb-8 [&_a]:text-navy [&_a]:underline [&_a]:hover:text-gold">
			{{.Content}}
		</article>
	</main>
	<div class="lg:w-2/6 lg:border-l-4 border-fg"></div>
</body>

</html>
