---
import Nav from "../components/Nav";
import "../styles/global.css";
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
  return data.title !== "Welcome";
});
posts.sort((a, b) => {
  if (a.data.date > b.data.date) {
    return -1;
  } else {
    return 1;
  }
});

const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>(checkers not chess)</title>
  </head>
  <body class="w-screen h-screen bg-bg text-fg font-sans">
    <main class="flex flex-col md:flex-row w-full h-full border-green-500">
      <Nav {posts} {path} client:only="solid-js" />
      <div
        class="p-8 border-red-500 z-0 mt-24 lg:mt-0 flex flex-col overflow-y-scroll w-full lg:w-1/2 scrollbar scrollbar-w-[8px] scrollbar-thumb-orange scrollbar-track-fg prose-pre:rounded-none prose-code:bg-fg prose-code:text-bg prose-code:rounded-sm prose-code:px-2"
      >
        <slot />
      </div>
      <div class="lg:w-1/6"></div>
    </main>
  </body>
</html>
