---
import "../styles/global.css";
import { getCollection } from "astro:content";
const posts = await getCollection("posts", ({ data })=>{
	return data.title !== "Welcome";
});
posts.sort((a, b) => {
	if (a.data.date > b.data.date) {
		return -1;
} else {
	return 1;
}
});

const path = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>(checkers not chess)</title>
	</head>
	<body class="w-screen h-screen bg-bg text-fg font-sans">
		<main class="flex flex-row w-full h-full border-green-500">
			<div class="border-r-6 border-fg w-1/6 flex flex-col space-y-8">
				<div class="p-8 w-full flex flex-col space-y-8">
					<a href="/" class="flex flex-col space-y-2 justify-center w-full">
						<span class="text-6xl">⦿¬♜</span>
						<span class="font-mono font-bold">(checkers not chess)</span>
					</a>
					<div class="flex flex-col">
						<span class="border-l-4 border-fg p-2">
							Solving problems you probably don’t have creates more problems you definitely do.
						</span>
						<span class="font-bold font-serif">- Mike Acton</span>
					</div>
				</div>
				<ol class="w-full h-full flex flex-col border-t-4 border-fg">
					{
						posts.map(post => {
							console.log(post.id);
							return (
							<li class={
						`border-b-4 border-fg ${`/${post.id}` === path ? "bg-orange text-bg" : "hover:bg-fg hover:text-bg"} flex`
							}>
						<a class="font-serif font-bold text-xl p-4 w-full h-full" href={`/${post.id}`}>{post.data.title}</a>
							</li>
					)})}
				</ol>
			</div>
			<div class="p-8 border-red-500 flex flex-col overflow-y-scroll w-2/3 scrollbar scrollbar-w-2 scrollbar-thumb-orange scrollbar-track-fg">
				<slot/>
			</div>
			<div class="w-1/6">
				some other stuff will go here
			</div>
		</main>
	</body>
</html>
